# .gitignore
token.json
GUI/client_secrets.json
client_secrets.json
GUI/token.json
GUI/google_drive_initialization_data.json

# Ignore the images

1.jpg
captured_frame.jpg
img_label.png
qr.png
Sample PDF.pdf
Analysis_*.jpg