# .gitignore
token.json
GUI/client_secrets.json
client_secrets.json
GUI/token.json
server_initialization_data.json
# Ignore the images

1.jpg
captured_frame.jpg
img_label.png
qr.png
Sample PDF.pdf
Analysis_*.jpg
*.jpg
result.jpg

# PyChaches
back_end/__pycache__/*.pyc
front_end/__pycache__/*.pyc
GUI/__pycache__/*.pyc